* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #334e64;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20deg, #ff2844, #6741ff);
}




.container {
    background-color: #fff;
    width: 320px;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.img-container {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    box-shadow: 0 8px 55px #c707eea4;
    overflow: hidden;
    border: 5px solid #9c83f7;
    border-radius: 50%;

}

.img-container img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);

}

.info-container {
    text-align: center;
    margin-top: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0px;
}

.name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #b92a76;

}

.posts-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    letter-spacing: 0.5px;
    margin: 20px 0 30px 0;
    text-align: center;
}

.posts-info .item span {
    display: block;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
}

.item span.num {
    color: #221f1f;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px 0 0 0;

}

.item span .type {
    color: #4e4e4e;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px auto;
}

.social-container i {
    color: #fff;
}

.social-container button {
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}



.social-container button:hover {
    transform: scale(1.1);
}

.social-container button.qq {
    background: linear-gradient(45deg, #74D2FF, #0098FF);
}

.social-container button.weixin {
    background: linear-gradient(45deg, #8BFF9A, #4EE214);
}

.social-container button.youtube {
    background: linear-gradient(45deg, #b81f40d0, #ff000db0);
}

.social-container button.tiktok {
    background: linear-gradient(45deg, #2e2c2c88, #000000);
}



.action {
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #d31258;
    border: none;
    border-radius: 50px;
    padding: 8px 12px;
    width: 80%;
    margin-top: 25px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.action.message {
    background-color: #6741ff;
}

.action:hover {
    transform: scale(1.05);
    opacity: 0.85;
}




